In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('emissions.csv')
df = df.drop(labels = 0, axis = 0)
df = df.drop(labels = 1, axis = 0)
df

      Year  Emissions Produced
2   1800.0                0.25
3   1805.0                1.78
4   1810.0                3.70
5   1815.0                6.32
6   1820.0               10.03
7   1825.0               14.78
8   1830.0               23.02
9   1835.0               39.53
10  1840.0               65.99
11  1845.0              107.40
12  1850.0              189.97
13  1855.0              342.88
14  1860.0              558.38
15  1865.0              823.80
16  1870.0             1230.56
17  1875.0             1869.44
18  1880.0             2667.49
19  1885.0             3906.71
20  1890.0             5612.72
21  1895.0             7849.68
22  1900.0            10665.82
23  1905.0            14923.52
24  1910.0            20668.80
25  1915.0            27425.87
26  1920.0            35608.04
27  1925.0            43852.46
28  1930.0            53146.27
29  1935.0            60157.96
30  1940.0            68711.79
31  1945.0            80008.71
32  1950.0            92016.92
33  1955.0           104985.39
34  1960.0           119117.27
35  1965.0           134735.61
36  1970.0           154163.40
37  1975.0           176829.37
38  1980.0           200665.63
39  1985.0           222786.48
40  1990.0           246917.08
41  1995.0           273278.06
42  2000.0           302188.10
43  2005.0           332262.66
44  2010.0           361561.77
45  2015.0           388982.81
46  2019.0           410238.26

In [2]:
from sklearn.model_selection import train_test_split

In [3]:
X = df['Year']
y = df['Emissions Produced']

In [4]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.4)

In [5]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(27,)
(18,)
(27,)
(18,)

In [6]:
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
from sklearn import preprocessing

In [7]:
model = DecisionTreeClassifer()
model.fit(X,y)

NameError: name 'DecisionTreeClassifer' is not defined