In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('greenspace.csv')
df = df.drop(labels = range(0, 242), axis = 0)
df = df.drop(labels = range(312, 315), axis = 0)
df = df.drop(columns = df.columns[1])
df

,Table: Green area per capita,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
242,Philadelphia,1516.57,1516.57,1516.56,1516.56,1516.55,1516.58,1516.57,1516.56,1516.54,1516.57,1516.56,1516.58,1516.56,1516.58,1516.56
243,Columbus,3186.4,3186.4,3186.39,3186.39,3186.4,3186.39,3186.39,3186.39,3186.4,3186.39,3186.39,3186.39,3186.39,3186.39,3186.38
244,Denver,12.66,12.68,12.67,12.66,12.67,12.66,12.67,12.65,12.66,12.67,12.65,12.66,12.67,12.67,12.68
245,Portland,964.25,964.25,964.25,964.25,964.25,964.24,964.24,964.25,964.24,964.25,964.24,964.25,964.25,964.26,964.24
246,Baltimore,1939.66,1939.66,1939.65,1939.65,1939.66,1939.66,1939.65,1939.65,1939.67,1939.66,1939.65,1939.66,1939.66,1939.65,1939.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307,Des Moines,3023.47,3023.47,3023.47,3023.47,3023.47,3023.47,3023.47,3023.47,3023.47,3023.47,3023.46,3023.47,3023.46,3023.47,3023.47
308,Omaha,638.82,638.83,638.83,638.83,638.82,638.82,638.82,638.82,638.82,638.83,638.83,638.82,638.82,638.82,638.82
309,Akron,696.78,696.78,696.78,696.78,696.78,696.78,696.78,696.78,696.78,696.78,696.78,696.78,696.78,696.78,696.78
310,Salt Lake City,630.24,630.24,630.24,630.24,630.24,630.24,630.24,630.24,630.24,630.23,630.24,630.24,630.23,630.23,630.24
311,Pittsburgh,754.31,754.31,754.31,754.31,754.31,754.32,754.31,754.3,754.31,754.31,754.31,754.31,754.31,754.31,754.3

In [2]:
from sklearn.tree import DecisionTreeClassifier